HELP.md

### Maven ###
target/                  # Ignora la carpeta target/ en la raíz
!.mvn/wrapper/maven-wrapper.jar  # Excepción: este archivo SÍ se incluirá
**/src/main/**/target/   # Ignora target/ en cualquier nivel dentro de src/main/
**/src/test/**/target/   # Ignora target/ en cualquier nivel dentro de src/test/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/